<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <input name="username" type="text"><br>
        <input name="password" type="password"><br>
        <input value="login" type="submit">
    </form>
    <% if(message) { %>
        <p>
            <label><%= message %></label>
        </p>
    <%}%>
    <p>
        <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
</body>
</html>
